body{
font-family: Arial;
width:250px;
padding:10px;
}

button{
width:100%;
margin-top:8px;
padding:8px;
border:none;
background:#4CAF50;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#45a049;
}

select{
width:100%;
padding:6px;
margin-top:5px;
}